@inject IHttpContextAccessor contxt;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul>
        <li> Student id: @contxt.HttpContext.Session.GetString("StudentName")</li>
        <li> Student Name: @contxt.HttpContext.Session.GetInt32("StudentId")</li>
    </ul>
</div>
